{% extends "recipe/recipes_home.html" %}
{% load static %}
{% load custom_filters %}

{% block main %}
<div class="row" style="margin-top: 156px">
    <div class="col-2"></div>
    <div class="col-10">
        <main>
            <section class="container" style="padding-bottom: 20px; color: white">
                <div class="row">
                    {% for object in page_obj %}
                    <div class="col-md-4">
                        <div class="card" style="min-height: 660px; padding:1px; border: 5px solid black">

                            <img src="data:image/jpeg;base64,{{ object.pic }}" style="max-height: 240px;"
                                class="card-img-top" alt="Recipe Image">
                            <div class="card-body card-style">
                                <h5 class="card-title card-title-style">
                                    {{object.title}}
                                </h5>
                                <p class="card-text"
                                    style="border:1px solid  #1DE244; border-radius: 3px; word-wrap: break-word; height:140px">
                                    {{object.small_desc}}</p>
                                <p class="card-text"
                                    style="border:1px solid  #1DE244; border-radius: 3px; word-wrap: break-word; height:80px; font-size: small;">
                                    {% for ingredient in object.recipe_ingredients.all %}
                                    {{ ingredient.ingredient }}
                                    <a class="btn btn-primary btn-custom-smaller-size"
                                        href="{% url 'recipe:delete_ingredient' pk=object.pk ingredient=ingredient.ingredient %}">X</a>

                                    {% if not forloop.last %}| {% endif %}
                                    {% endfor %}
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{{object.get_absolute_url}}" class="btn btn-primary"
                                            style="height: 40px; min-width: 140px; font-size: small;">View Recipe</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'recipe:add_ingredient' pk=object.pk %}" class="btn btn-primary"
                                            style="height: 40px; min-width: 140px; font-size: small;">Add
                                            Ingredient</a>
                                        <!-- Passing the pk of the clicked recipe to the IngredientAddView URL -->
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 16px;">
                                    <div class="col-6">
                                        <a href="{% url 'recipe:delete' pk=object.pk %}" class="btn btn-primary"
                                            style="height: 40px; min-width: 140px; font-size: small;">Delete Recipe</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'recipe:edit' pk=object.pk %}" class="btn btn-primary"
                                            style="height: 40px; min-width: 140px; font-size: small;">Edit Button</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current-page">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&per_page=3">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}&per_page=3">last &raquo;</a>
                        {% else %}
                        <span class="disabled">next</span>
                        {% endif %}
                    </span>
                </div>
            </section>
        </main>
    </div>
</div>
{% endblock %}

{% block welcome_script %}
{% endblock %}