{% extends "recipe/recipes_home.html" %}
{% block main %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <main style="padding-top: 200px;padding-left: 50px; padding-right: 50px; padding-bottom:30px;
         align-items: center; text-align: center; justify-content: center;">
            <section class="container" style="color: white; padding: 80px; background-color: #333;">
                <h2 class="card-title-style card-title-underline">About Me - David McNeill</h2>
                <br>
                <section class="contact-info">
                    <p>Mechanicsville, VA 23111 | Cell: 804-683-7779 | Email: dlm1337.dm@gmail.com</p>
                    <br>
                    <p>GitHub: <a href="https://github.com/dlm1337/"
                            style="color: rgb(200, 219, 89)">https://github.com/dlm1337/</a>
                    </p>
                    <br>
                    <p>LinkedIn: <a href="https://www.linkedin.com/in/david-mcneill-2b1924204/"
                            style="color: rgb(200, 219, 89)">https://www.linkedin.com/in/david-mcneill-2b1924204/</a>
                    </p>
                    <br>
                    <p>Personal Website: <a href="https://dlm1337.github.io/"
                            style="color: rgb(200, 219, 89)">https://dlm1337.github.io/</a>
                    </p>
                    <br>
                </section>
                <br>
                <section class="summary">
                    <h2>Summary</h2>
                    <br>
                    <p>As a motivated Junior Developer, I specialize in building reactive single-page applications using
                        frameworks like Angular and Vue.js. My experience includes working with APIs, streamlining data
                        with C#/Golang and TypeScript, and creating efficient applications. I also have a background in
                        SEO setup for Google and responsive designs using CSS @media rules. With a commitment to exceed
                        client expectations, I am confident in contributing to team success.</p>
                    <br>
                </section>
                <br>
                <section class="skills">
                    <h2>Skills</h2>
                    <br>
                    <ul>
                        <li>Languages: C#, Golang, JavaScript, TypeScript, Python</li>
                        <li>Frameworks: Angular 2+, Vue.js, Unity, Django</li>
                        <li>Other: PostgreSQL, Chrome Extension, Oracle APEX, PL/SQL, HTML, CSS/SCSS/SASS</li>
                    </ul>
                    <br>
                </section>
                <br>
            </section>
        </main>
    </div>
</div>
{% endblock %}
{% block welcome_script %}
{% endblock %}