{% extends "recipe/recipes_home.html" %}
{% block main %}
<div class="row" style="margin-top: 206px">
    <div class="col-2"></div>
    <div class="col-10" style="text-align: left; justify-content: left; padding-bottom: 20px;">
        <main style="padding-left: 50px; padding-right: 50px; padding-bottom:30px;">

            <section class="container"
                style="padding-left: 70px; padding-right: 70px; padding-bottom: 20px; height: auto; color: white">
                <form method="post" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;
            justify-content: left; text-align: left; align-items: left;">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}

                    <div
                        style="display: flex; background-color:#2F2332; padding: 10px; border-radius: 5px; border-radius: 5px;">
                        <label style="min-width: 102px;">{{ field.label_tag }}</label>
                        <div>{{ field }}</div> {# Separate the label and field rendering #}
                    </div>

                    {% endfor %}
                    <input type="hidden" name="submit_type" value="profile_update_btn">
                    <button type="submit" class="btn btn-primary mt-3"
                        style="grid-column: span 2; height: 100px; margin-left: 15%; margin-right: 15%;">Register</button>
                </form>
            </section>
        </main>
    </div>
</div>
{% endblock %}

{% block welcome_script %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var textareas = document.querySelectorAll("textarea");
        var pic = document.getElementById("id_pic")

        pic.className += "btn btn-primary";
        pic.style.width = "320px"

        textareas.forEach(function (textarea) {
            textarea.style.height = "100px";
            textarea.style.width = "auto";
        });
    });
</script>
{% endblock %}