body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #2cee53;
}

a {
    color: #632623;
}

.btn-primary {
    color: #632623;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: bold;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border: 5px solid;
    border-color: #2ac549;
}

.btn-primary:hover {
    background-color: #2cee53;
    border-color: #c1ffa5;

}

.d-none {
    display: none;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    background-color: #222c1ff8;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #0F140E;
}

nav form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 580px;
    gap: 2rem;

    /* Image free for non-profit use. For temp card display.
     from - stevepb
      at  - https://pixabay.com/photos/vegetables-pot-cooking-ingredients-1006694/ */
}

footer {
    position: relative;
    background-color: #0f140ee7;
    color: #fff;
    padding: 1rem;
    text-align: center;
    height: 100px;
}

.left-navigation {
    position: fixed;
    min-width: 212px;
    padding-right: 10px;
    left: 12px;
    top: 32%;
    color: #fff;
    border-right: 3px solid #263223f8;
}

.left-navigation li {
    font-size: large;
    margin-bottom: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.left-nav-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 200px;
    height: 100%;
}

.logo {
    text-align: left;
    justify-content: left;

    /* Image free for non-profit use. Made a logo.
     from - Nile
      at  - https://pixabay.com/photos/tomato-parsley-pepper-peppercorns-663097/ */
}

.card-style {
    padding: 20px;
    border-radius: 0;
    background-color: #2F2332;
}

.card-title-underline {
    border-bottom: 4px solid #1DE244;
    display: inline-block;
    padding-bottom: 5px;
}

.card-title-style {
    color: #f8a19e;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.card-text-border {
    font-size: larger;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 200px;
    border: 1px solid #1e8a33b4;
    border-radius: 3px;
    word-wrap: break-word;
}

#buttonContainer {
    height: 50px;
    /* Adjust the height as needed */
}